.clock {
  display: none;
}

[data-active-clocks="Billable Time"] .billable-clock {
  display: block;
}

[data-active-clocks="Total Time"] .total-clock {
  display: block;
}

.entries-container > :nth-child(2n) {
  background-color: #dddddd;
}

.entry {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 4rem;
}

.name {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
